<div>
<p><h2>Estad&iacute;sticas del juego</h2></p>

<br />

<p>El n&uacute;mero de preguntas: <%=estadistica.countQuizes %></p>
<p>El n&uacute;mero de comentarios totales:  <%=estadistica.countComent %></p>
<p>El n&uacute;mero medio de comentarios por pregunta: <%=estadistica.MediaComentarioXPregunta %>   </p>
<p>El n&uacute;mero de preguntas sin comentarios:  <%=estadistica.countQuizSinComentarios %> </p>
<p>El n&uacute;mero de preguntas con comentarios:  <%=estadistica.countQuizConComentarios %></p>
